{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>All Students</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Course</th><th>Grade</th><th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for s in students %}
      <tr>
        <td>{{ s[0] }}</td>
        <td>{{ s[1] }}</td>
        <td>{{ s[2] }}</td>
        <td>{{ s[3] }}</td>
        <td>{{ s[4] }}</td>
        <td><a href="/delete/{{ s[0] }}" class="btn btn-danger btn-sm">Delete</a>
        <a href="/edit/{{ s[0] }}" class="btn btn-warning btn-sm">Edit</a>
        <a href="/export/csv" class="btn btn-success mb-3">Export to CSV</a>
        <a href="/export/pdf" class="btn btn-secondary mb-3">Export to PDF</a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
